.Tab {
  display: block;
  &:not(.mobile) {
    padding: 10px 5px;
    writing-mode: vertical-rl;
  }
  &.mobile {
    padding: 5px 10px;
  }
  &.selected {
    &:not(.mobile) {
      border-right: solid 10px #ed7d31;
    }
    &.mobile {
      border-bottom: solid 10px #ed7d31;
    }
  }
}
